## Psychoinformatics - Week 1 (Exercises)
by 張天瑋 (b09705049@ntu.edu.tw)

## 1 Validating the findings about power poses (8 points)
Do <a href="https://www.youtube.com/watch?v=Ks-_Mh1QhMc">power poses</a> really work?
Let's analyze the data (keller2017.csv) from:

Keller, V. N., Johnson, D. J., & Harder, J. A. (2017). <a href="http://hpc.psy.ntu.edu.tw/info/01/KellerEtal2017.pdf">
Meeting your inner super (wo)man: are power poses effective when taught?</a> Comprehensive Results in Social Psychology, 2(1), 106-122.

where<br>

4 experimental conditions were AC (Aware-Constrictive), AE (Aware-Expansive), UC (Unaware-Constrictive), & UE (Unaware-Expansive)<br>
<br>
and<br>
<br>
3 dependent measures were body expansiveness, performance (in a job interview), & hireability scored by 4 independent raters.

Please construct 3 pandas dataframes df1, and df2, and df3 where <br><br>
<b>df1</b>, derived from df, has only 13 columns of interest (cond, expansiveness1-4, performance1-4, hire1-4) and no missing values (2 points) ;<br><br>
<b>df2</b>, derived from df1, has 4 columns that average expansiveness1-4 into "expansiveness", "performance1-4" into "performance", & hire1-4 into "hire" (df1 & df2 should have the same number of rows) (2 points) ; <br><br>
<b>df3</b>, derived from df2, calculates the means of each dependent variable in each condition (2 points) ;

Finally, run three two-way ANOVAs to see if there is any statistically significant result for each dependent measure (2 point). See <a href="https://www.statology.org/two-way-anova-python/">this page</a> for an example.

In [1]:
import pandas as pd
df=pd.read_csv("https://ceiba.ntu.edu.tw/course/4671ea/content/keller2017.csv")

In [2]:
df

,participant,rater_1,rater_2,rater_3,rater_4,rater_5,performance_1,performance_2,performance_3,performance_4,...,Unnamed: 204,Unnamed: 205,Unnamed: 206,Unnamed: 207,Unnamed: 208,Unnamed: 209,Unnamed: 210,Unnamed: 211,Unnamed: 212,Unnamed: 213
0,1,1319.0,1328.0,1231.0,1093.0,NaN,6.0,7.0,5.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1069.0,1225.0,1343.0,NaN,NaN,6.0,5.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,1322.0,1306.0,1031.0,1083.0,NaN,4.0,4.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1114.0,1178.0,1060.0,1290.0,NaN,6.0,4.0,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1372.0,1178.0,1082.0,1341.0,NaN,3.0,2.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,693,1045.0,1303.0,1097.0,1349.0,NaN,4.0,4.0,3.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,694,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,695,1220.0,1041.0,1333.0,1026.0,NaN,5.0,5.0,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,697,1130.0,1289.0,1298.0,1093.0,NaN,2.0,4.0,2.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,698,1007.0,1000.0,1304.0,1260.0,NaN,1.0,2.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Please write your codes here:
df1=df[['cond','hire_1','hire_2','hire_3','hire_4','expansiveness_1','expansiveness_2','expansiveness_3','expansiveness_4','performance_1','performance_2','performance_3','performance_4']].dropna()
df2 = pd.DataFrame(df1[['cond']])
df2['hire']=df1[['hire_1','hire_2','hire_3','hire_4']].mean(axis=1) 
df2['expansiveness'] = df1[['expansiveness_1','expansiveness_2','expansiveness_3','expansiveness_4']].mean(axis=1)
df2['performance'] = df1[['performance_1','performance_2','performance_3','performance_4']].mean(axis=1)

df3 = df2.groupby('cond').mean()
print(df1.shape,df2.shape)
print(df3)

(194, 13) (194, 4)
          hire  expansiveness  performance
cond
AC    1.853261       3.586957     3.967391
AE    1.982955       3.607955     3.460227
UC    1.916667       3.435185     3.717593
UE    1.940000       3.685000     3.765000

## hire

In [41]:
import statsmodels.api as sm
from statsmodels.formula.api import ols


df2[['aware', 'expansive']] = df2['cond'].apply(lambda cond: pd.Series(list(cond)))

# 看 aware or not / expansive or not 對三個變數的影響

# hire
model_hire = ols('hire ~ aware + expansive + aware:expansive', data=df2).fit()
stats_hire = sm.stats.anova_lm(model_hire, typ=2)

print('Hire:')
print(stats_hire, '\n')

Hire:
                    sum_sq     df         F    PR(>F)
aware             0.006727    1.0  0.024257  0.876399
expansive         0.256088    1.0  0.923421  0.337800
aware:expansive   0.136320    1.0  0.491554  0.484093
Residual         52.691727  190.0       NaN       NaN

Since the p-values for aware and expansive are both > 0.05, this means that both factors don't have a statistically significant effect on hireability score.

And since the p-value for the interaction effect = 0.484093 > 0.05, this tells us that there is no significant interaction effect between aware and expansive.

## expansiveness

In [38]:
#perform two-way ANOVA
# exp
model_exp = ols('expansiveness ~ aware + expansive + aware:expansive', data=df2).fit()
stats_exp = sm.stats.anova_lm(model_exp, typ=2)
print('Expansiveness:')
print(stats_exp, '\n')

Expansiveness:
                     sum_sq     df         F    PR(>F)
aware              0.080182    1.0  0.074288  0.785489
expansive          0.999186    1.0  0.925730  0.337198
aware:expansive    0.630923    1.0  0.584541  0.445487
Residual         205.076288  190.0       NaN       NaN

Since the p-values for aware and expansive are both > 0.05, this means that both factors don't have a statistically significant effect on body expansiveness.

And since the p-value for the interaction effect = 0.445487 > 0.05, this tells us that there is no significant interaction effect between aware and expansive.

## performance

In [40]:
# per
model_per = ols('performance ~ aware + expansive + aware:expansive', data=df2).fit()
stats_per = sm.stats.anova_lm(model_per, typ=2)
print('Performance:')
print(stats_per, '\n')

Performance:
                     sum_sq     df         F    PR(>F)
aware              0.017850    1.0  0.012643  0.910593
expansive          2.136746    1.0  1.513440  0.220136
aware:expansive    3.706089    1.0  2.624992  0.106852
Residual         268.251022  190.0       NaN       NaN

Since the p-values for aware and expansive are both > 0.05, this means that both factors don't have a statistically significant effect on performance.

And since the p-value for the interaction effect = 0.106852 > 0.05, this tells us that there is no significant interaction effect between aware and expansive.

### Please export this file to HTML and submit it to NTU COOL before next Monday (2022/9/12).